@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

body {
  margin: 10px;
}

.header {
  position: sticky; /* Makes the header stick to the top */
  top: 0; /* Ensures it sticks at the very top */
  z-index: 1000; /* Keeps the header above other elements */
  background-color: white; /* Set a background to avoid overlap issues */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for visibility */
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #0077b5; /* Example: a hover color */
  }
}

body {
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 90px;
}

h1 {
  font-size: x-large;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;

  li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

  nav ul li a:hover {
    color: #0056b3;
  }
}

div.written-text {
  font-family: "Libre Baskerville", Garamond, serif;
  font-variant-ligatures: common-ligatures;
  font-size: clamp(16px, 2vw, 20px); /* Minimum 16px, scales up to 20px */
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
  h1 {
    font-family: Garamond;
  }
}

div.free-text {
  font-size: large;
  margin-left: 40px;
}

.footer {
  text-align: center;
  background-color: $light-gray;
  font-size: 14px;
  color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
}

.social-icons {
  margin-top: 10px;
  a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  a:hover {
    color: $linkedin-blue; /* Example: LinkedIn blue */
  }
}

.story-list {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Makes it responsive */
}

.story-card {
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: $almost-white;
  transition: transform 0.3s, box-shadow 0.3s;
  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  .story-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}
