@mixin theme(
  $bg-color,
  $surface-color,
  $text-color,
  $muted-color,
  $border-color,
  $accent-soft
) {
  --bg-color: #{$bg-color};
  --surface-color: #{$surface-color};
  --text-color: #{$text-color};
  --muted-color: #{$muted-color};
  --border-color: #{$border-color};
  --accent-soft: #{$accent-soft};

  background-color: var(--bg-color);
  color: var(--text-color);

  a {
    color: var(--text-color);
  }
}
