@import "./colors";

@mixin theme($bg-color, $text-color, $icon-color, $link-color) {
  background-color: $bg-color;
  color: $text-color;

  a {
    color: $link-color;
  }

  .navbar a {
    color: $link-color;
  }

  .social-icons .icon {
    color: $icon-color;
    transition: color 0.3s ease;
  }
}
